<!-- Hero Section -->
<header class="bg-primary text-white text-center py-5 hero">
  <div class="container">
    <h1>React: 一個好用的網頁框架</h1>
    <p class="lead">
      使用 React 的基於元件的架構輕鬆建立互動式使用者介面。</p>
    <a href="https://react.dev/" class="btn btn-light btn-lg">更多...</a>
  </div>
</header>