<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Navbar -->
  <%- include("partials/navbar", { page: 'features' }) %>

  <!-- Hero Section -->
  <%- include("partials/hero") %>

  <!-- Page-specific content -->
  <div class="container">
    <div class="row">
      <%- include("partials/sidebar") %>
  
      <section id="features" class="py-5 col-9">
        <div class="container">
          <h2 class="text-center">React 特徵</h2>
          <div class="row text-center mt-4">
            <div class="col-lg-4">
              <h3>組件</h3>
              <p>建立管理其自身狀態的封裝元件，然後組合它們以建立複雜的 UI。</p>
            </div>
            <div class="col-lg-4">
              <h3>聲明</h3>
              <p>React 讓建立互動式 UI 變得輕而易舉。為應用程式中的每個狀態設計視圖。</p>
            </div>
            <div class="col-lg-4">
              <h3>虛擬 DOM</h3>
              <p>當資料發生變化時，React 會有效率地更新並僅呈現必要的元件。</p>
            </div>
          </div>
        </div>
      </section>
  
    </div>
  </div>

  <footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p>© Made By A8222943 蔡鎮鴻</p>
  </footer>
</body>
</html>
