.hero {
  margin-top: 56px;

  background: url(../picture/eyJidWNrZXQiOiJjZG4uaGlza2lvLmNvbSIsImtleSI6ImNvdXJzZXNcLzIxNVwvY292ZXJcL3ZhN3hRd0ZnSkJiRFBwdiIsImVkaXRzIjp7InBuZyI6eyJxdWFsaXR5Ijo4MH19fQ==.png) no-repeat 0 -100px/cover;
}

.siteBar {
  margin-top: 20px;
}

.mr-1 {
  margin-right: 10px;
}

body {
  padding-bottom: 60px; /* 調整為頁腳的高度 */
}