<h2 class="text-center">React 優勢</h2>
        <div class="row text-center mt-4">
          <div class="col-lg-4">
            <h3>組件重用性</h3>
            <p>React 組件化的結構使代碼更易於維護和重用。</p>
          </div>
          <div class="col-lg-4">
            <h3>性能優化</h3>
            <p>
              Virtual DOM 是 React 的核心技術，通過在內存中建立 DOM 的虛擬副本，它可以快速比較數據變化，並只更新實際 DOM 中受影響的部分，避免了整體重繪。這種差異比對（diffing）機制顯著減少了不必要的操作，從而提高了渲染效率，提升應用的性能。</p>
          </div>
          <div class="col-lg-4">
            <h3>強大的社區與生態系統</h3>
            <p>React 的廣泛支持和豐富的第三方庫.(redux,router,axios....)</p>
          </div>
        </div>