<h2 class="text-center">React 範例</h2>
          <div class="text-center">
            <pre><code>
        function Welcome(props) {
          return <h1>Hello, {props.name}!</h1>;
        }

        const element = <Welcome name="React" />;
        ReactDOM.render(element, document.getElementById('root'));
      </code></pre>
          </div>