<h2 class="text-center">React 特徵</h2>
        <div class="row text-center mt-4">
          <div class="col-lg-4">
            <h3>組件</h3>
            <p>建立管理其自身狀態的封裝元件，然後組合它們以建立複雜的 UI。</p>
          </div>
          <div class="col-lg-4">
            <h3>聲明</h3>
            <p>React 讓建立互動式 UI 變得輕而易舉。為應用程式中的每個狀態設計視圖。</p>
          </div>
          <div class="col-lg-4">
            <h3>虛擬 DOM</h3>
            <p>當資料發生變化時，React 會有效率地更新並僅呈現必要的元件。</p>
          </div>
        </div>