<h2 class="text-center">React 概括</h2>
  <p>
    React 是一個由 Facebook 開發的 JavaScript 庫，用於構建用戶界面。它採用了組件化的設計理念，將界面拆分為可重用的組件，讓開發者能更高效地管理應用的邏輯與視圖。React 的核心特性包括虛擬 DOM、單向數據流，以及支持聲明式編程，這使得它在處理動態數據和大型應用時具有高效性和靈活性。React 不僅適用於網頁開發，還能通過 React Native 構建跨平台的移動應用。
  </p>