<h2 class="text-center">來源連結</h2>
      <ul class="list-unstyled text-center">
        <li><a href="https://reactjs.org" target="_blank">React 官網</a></li>
        <li><a href="https://reactjs.org/tutorial/tutorial.html" target="_blank">React 教學</a></li>
        <li><a href="https://reactjs.org/community/support.html" target="_blank">React 社群</a></li>
      </ul>